
<div class="navbar">
  <a href="#" class="active">
  <%= image_tag "message_icon.png" %>
  </a>
  <%= link_to profiles_path do %>
  <%= image_tag "map_icon.png" %>
  <% end %>
  <a href="#">
  <%= image_tag "more_options_icon.png" %>
  </a>
</div>
