<div class="navbar">
  <a href="#" class="active">
  <%= image_tag "message_icon.png" %>
  </a>
  <a href="#">
  <%= image_tag "map_icon.png" %>
  </a>
  <a href="#">
  <%= image_tag "more_options_icon.png" %>
  </a>
  </div>
