<h1> playground for the filter </h1>

<!--language family type activities and special needs-->

var searchwords = []
<!-- Table -->
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="What are you looking for?">

<div id="proposedTags">
  <% list = ["French", "English", "Jogging", "Joggling", "Autism", "Single Mum", "Single Dad", "LGBTQ+"] %>
  <% list.each do |item| %>
    <div class="tagitem" onclick="makeActive(event)"> <%= item %> </div>
  <% end %>
</div>

<!--filter-->
<script>
  var input, filter, table, tagitem, word, i, txtValue;
  input = document.getElementById("myInput");
  typedletters = input.value.toUpperCase();
  table = document.getElementById("proposedTags");
  tagitem = table.getElementsByClassName("tagitem");

  function myFunction() {
    var input, filter, table, tagitem, word, i, txtValue;
    input = document.getElementById("myInput");
    typedletters = input.value.toUpperCase();
    table = document.getElementById("proposedTags");
    tagitem = table.getElementsByClassName("tagitem");
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tagitem.length; i++) {
      if (tagitem) {
        txtValue = tagitem[i].textContent || tagitem[i].innerText;

        if (txtValue.toUpperCase().indexOf(typedletters) > -1) {
          tagitem[i].style.display = "";
        } else {
          tagitem[i].style.display = "none";
        }
      }
    }
  }

  function makeActive(e) {
    console.log(e.target.className)
    if (e.target.className == "tagitem active") {
      e.target.className = "tagitem"
    } else {
      e.target.className += " active"
    }
  }

</script>
