<h1> playground for the filter </h1>

<div id="demo">
</div>

<div>
<input type="text" id="myInput" onkeyup="liveSearch(event)" placeholder="What are you looking for?">
</div>

<div>
</div>

<form id="proposedTags">
  <% Tag.all.each do |item| %>
    <label for="<%= item.name %>"><input class="tagitem" type="checkbox" id="<%= item.name %>"><%= item.name %></input></label>
  <% end %>
    <input id="SearchbarButton" type="submit" value="Search!" onclick="handelFormData(event)" />
</form>

<script>
  var input, filter, table, tagitems, word, i, txtValue;
  input = document.getElementById("myInput");
  let typedletters = ""
  table = document.getElementById("proposedTags");
  tagitems = table.querySelectorAll("label");
  let tagItemsArray = [...tagitems]

  function handelFormData(event) {
    event.preventDefault() // prevent default form bevaiour (<form action="/search" method="get">)
    const form = document.getElementById('proposedTags')
    const formData = [...form.querySelectorAll('input[type="checkbox"]:checked')].map(item => item.id)
    console.log(formData)
    // TODO: hide / show Capibars
  }

  function liveSearch(e) {
    console.log(typedletters)
    // console.log(tagitems)
    typedletters = input.value.toUpperCase();
    console.log(typedletters)
    for (i = 0; i < tagItemsArray.length; i++) {
      // console.log(tagitems[i])
      if (tagitems[i]) {
        let txtValue = tagitems[i].innerText;
        // console.log(txtValue)
        if (txtValue.toUpperCase().indexOf(typedletters) > -1) {
          tagitems[i].style.display = "";
          // show Capibara
        } else {
          tagitems[i].style.display = "none";
          // hide Capibara
        }
      }
    }
  }

</script>
