<div id="demo">
</div>

<div class="search">
  <input type="text" id="myInput" onkeyup="liveSearch(event)" placeholder="What are you looking for?">
  <input id="SearchbarButton" type="submit" value="Search!" class="btn btn-searchbar" onclick="handelFormData(event)"/>
</div>

<form id="proposedTags" class="border-0">
  <% Tag.all.each do |item| %>
    <label for="<%= item.name %>" style="display:none;"><input class="tagitem" type="checkbox" id="<%= item.name %>"><%= item.name %></input></label>
  <% end %>
</form>

<script>
  var input, table, i, txtValue, input;
  input = document.getElementById("myInput");
  let typedletters = ""
  table = document.getElementById("proposedTags");
  tagitems = table.querySelectorAll("label");
  let tagItemsArray = [...tagitems]

  function handelFormData(event) {
    event.preventDefault() // prevent default form bevaiour (<form action="/search" method="get">)
    const profileCards = document.querySelectorAll(".profile-mini-card")
    let profileCardsArray = [...profileCards]
    const form = document.getElementById('proposedTags')
    const formData = [...form.querySelectorAll('input[type="checkbox"]:checked')].map(item => item.id)
    console.log("search items", formData)

    if (formData.length > 0) {
      for (i = 0; i < profileCardsArray.length; i++) {
        console.log(profileCardsArray[i])
        let profileTagsArray = [...profileCardsArray[i].querySelectorAll(".usertag-on-user-index")].map(tag => tag.innerText)
            console.log("profile", profileTagsArray)
        if (formData.every(searchItem => profileTagsArray.includes(searchItem))) {
            console.log("MATCH")
            profileCardsArray[i].style.display = "";
        } else {
          console.log("no match")
            profileCardsArray[i].style.display = "none"
        }
      }
    }
  }

  function liveSearch(e) {
    console.log(typedletters)
    // console.log(tagitems)
    typedletters = input.value.toUpperCase();
    for (i = 0; i < tagItemsArray.length; i++) {
      // console.log(tagitems[i])
      if (tagitems[i]) {
        let txtValue = tagitems[i].innerText;
        if (txtValue.toUpperCase().startsWith(typedletters)) {
          tagitems[i].style.display = ""
        } else {
          tagitems[i].style.display = "none";
        }
      }
    }
  }
</script>
