<div id="demo">
</div>

<div>
<input type="text" id="myInput" onkeyup="liveSearch(event)" placeholder="What are you looking for?">
</div>

<form id="proposedTags">
  <% Tag.all.each do |item| %>
    <label for="<%= item.name %>"><input class="tagitem" type="checkbox" id="<%= item.name %>"><%= item.name %></input></label>
  <% end %>
    <input id="SearchbarButton" type="submit" value="Search!" class="btn btn-searchbar" onclick="handelFormData(event)"/>
</form>

<script>
  var input, table, i, txtValue, input;
  input = document.getElementById("myInput");
  let typedletters = ""
  table = document.getElementById("proposedTags");
  tagitems = table.querySelectorAll("label");
  let tagItemsArray = [...tagitems]

  function handelFormData(event) {
    event.preventDefault() // prevent default form bevaiour (<form action="/search" method="get">)
    const profileCards = document.querySelectorAll(".profile-mini-card")
    let profileCardsArray = [...profileCards]
    const form = document.getElementById('proposedTags')
    const formData = [...form.querySelectorAll('input[type="checkbox"]:checked')].map(item => item.id)
    console.log("search items", formData)

    if (formData.length > 0) {
      for (i = 0; i < profileCardsArray.length; i++) {
        let profileTagsArray = [...profileCardsArray[i].querySelectorAll(".usertag-on-user")].map(tag => tag.innerText)
            console.log("profile", profileTagsArray)
        if (formData.every(searchItem => profileTagsArray.includes(searchItem))) {
            console.log("MATCH")
            profileCardsArray[i].style.display = "";
        } else {
          console.log("no match")
            profileCardsArray[i].style.display = "none"
        }
      }
    }
  }

  function liveSearch(e) {
    console.log(typedletters)
    // console.log(tagitems)
    typedletters = input.value.toUpperCase();
    console.log(typedletters)
    for (i = 0; i < tagItemsArray.length; i++) {
      // console.log(tagitems[i])
      if (tagitems[i]) {
        let txtValue = tagitems[i].innerText;
        // console.log(txtValue)
        if (txtValue.toUpperCase().indexOf(typedletters) > -1) {
          tagitems[i].style.display = "";
          // show Capibara
        } else {
          tagitems[i].style.display = "none";
          // hide Capibara
        }
      }
    }
  }
</script>
