<div id="demo"></div>

<div class="search">
  <input type="text" id="myInput" onkeyup="liveSearch(event)" placeholder="What are you looking for?">
  <input id="SearchbarButton" type="submit" value="Search!" class="btn btn-searchbar" onclick="handelFormData(event)"/>
</div>

<form id="proposedTags">
  <%# TODO: source available tags from data %>
  <% Tag.all.each do |item| %>
    <label for="<%= item.name %>" style="display:none;"><input class="tagitem" type="checkbox" id="<%= item.name %>"><%= item.name %></input></label>
  <% end %>
</form>

<script>
  const input = document.getElementById("myInput");
  let typedletters = ""
  const tagsForm = document.getElementById('proposedTags')
  const tagLabels = tagsForm.querySelectorAll("label");
  const tagLabelsArray = [...tagLabels]

// add event listener to the tag chakboxes
  tagLabelsArray.forEach(tag => tag.addEventListener("click", handleCheckboxLabels))

  function handelFormData(event) {
    event.preventDefault() // prevent default form bevaiour (<form action="/search" method="get">)
    // clearSearchBar() // clear search bar
    handleCheckboxLabels() // clear search bar; restore tags
    const profileCards = document.querySelectorAll(".profile-mini-card")
    let profileCardsArray = [...profileCards]
    const formData = [...tagsForm.querySelectorAll('input[type="checkbox"]:checked')].map(item => item.id)
    console.log("search items", formData)

    tagLabelsArray.forEach(tag => {
      if (!formData.includes(tag.innerText)) {
        tag.style.display = "none"
      }
    })

    if (formData.length > 0) {
      // filter Cards
      for (let i = 0; i < profileCardsArray.length; i++) {
        console.log(profileCardsArray[i])
        let profileTagsArray = [...profileCardsArray[i].querySelectorAll(".usertag-on-user-index")].map(tag => tag.innerText)
            console.log("profile", profileTagsArray)
        if (formData.some(searchItem => profileTagsArray.includes(searchItem))) {
            console.log("MATCH")
            profileCardsArray[i].style.display = "";
        } else {
          console.log("no match")
            profileCardsArray[i].style.display = "none"
        }
      }
    } else {
      console.log("search empty - resetting")
      tagLabels.forEach(tag => tag.style.display = "none");
      profileCardsArray.forEach(card => card.style.display = "");
    }
  }

  function liveSearch(e, formData = []) {
    // only trigger input is an english letter
    // i.e. ignore Shift Key as a trigger
    // cf. https://stackoverflow.com/a/5271201
    if ((e.which <= 90 && e.which >= 48)) {
      typedletters = input.value.toUpperCase();
      for (let i = 0; i < tagLabelsArray.length; i++) {
        // console.log(tagLabels[i])
        if (tagLabelsArray[i]) {
          let txtValue = tagLabelsArray[i].innerText;
          if (typedletters.length > 0 && txtValue.toUpperCase().startsWith(typedletters)) {
            tagLabelsArray[i].style.display = ""
          } else {
            tagLabelsArray[i].style.display = "none";
          }
        }
      }
      showSelectedTagLabels()
    }
  }

  function handleCheckboxLabels() {
    clearSearchBar()
    showSelectedTagLabels()
  }

  function showSelectedTagLabels() {
    tagLabelsArray
      .filter(tag => tag.querySelector('input[type="checkbox"]:checked'))
        .forEach(label => label.style.display = "")
  }

  function clearSearchBar() {
    input.value = ""
  }
</script>
