// Define variables for your color scheme
$orange: #f5916a;
$pink: #f2797c;
$light-gray: #E5E5E5;
$black: #242424;
$gray: #585757;
$blue: blue;
$green: green;
$yellow: yellow;
$red: red;
$dark-pink: #f55e61;
