// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$main-font: "Roboto", "Helvetica", "sans-serif";

p {
  font-family: "Roboto", "Helvetica", "sans-serif";
  font-size: 18px;
  font-weight: lighter;
}
h1 {
  font-family: "Playfair Display", "Helvetica", "sans-serif";
  font-size: 18px;
}
h2 {
  font-family: "Roboto", "Helvetica", "sans-serif";
  font-size: 18px
}
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
