.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
.chat-header {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 16px auto;
}
.chat-header h1 {
  margin: 0 0 0 8px;
}
.message-box {
  display: flex;
  justify-content: space-around;
}
.message-window {
  width: 100%;
}
#message_content {
  border-radius: 50px;
  height: 42px;
  border-style: solid;
  border-width: 1px;
  border-color: $light-gray;
  padding: 8px 16px;
  font-weight: lighter;
  position: relative;
  position: fixed;
  bottom: 65px;
  width: 85%;
}
.btn-chat {
  position: fixed;
  bottom: 65px;
  right: 10px;
}
.messages {
  display: flex;
  flex-direction: column;
  height: 75%;
  position: relative;
}
.datetime-chat {
  font-size: 10px !important;
  color: white;
  margin: 0;
}
.message   {
  border-radius: 20px;
  padding: 6px 12px;
  margin-bottom: 8px;
  width: fit-content;

}
.outgoing {
  background-color: $orange;
  align-self: flex-end;
}
.incoming {
  background-color: $light-gray;
  p {
    color: $black;
  }
}
.message-text {
  font-weight: lighter;
  font-family: Roboto;
  font-size: 16px;
  color: white;
  margin-bottom: 8px;
}
.avatar-chat {
  height: 72px !important;
  width: 72px !important;
}
