.eventpic {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 360px;
  width: 100%; //needs to be flexible to phone screen
  padding: 0;
  // margin: 16px;
  margin-bottom: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.event-show-top-half-container {
  padding: 16px;
}

.event-mini-card-show-page {
  // to complete using Elena's CSS
  padding-top: 16px;
  padding-bottom: 20px;
  position: relative;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  // height: 120px;
  // margin-left: 16px;
  // margin-right: 16px;
}

.event-mini-card-show-infos {
  height: 100px;
  width: 90%;
  padding-left: 16px;
}

.event-mini-card-show-page h2 {
  font-family: "Roboto";
  font-size: 14px;
  top: 12px;
  margin-bottom: 0;
  white-space: nowrap;
}

.event-mini-card-show-page p {
  font-size: 12px;
  line-height: 1.4;
  // text-decoration: none !important;
  font-family: Roboto;
  font-weight: lighter;
  }

  // .event-date-time-price {
  //   margin-top: 8px;
  //   display: inline;
  //   overflow: hidden;
  //   margin-bottom: 0;
  // }

  // .event-date-and-time {
  //   float: left;
  //   margin-top: 8px;
  //   margin-bottom: 0;
  // }

  // .eventprice {
  //   float: right;
  //   overflow: hidden;
  //   margin-top: 8px;
  //   margin-bottom: 0;
  // }

.event-long-description-container {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 8px 16px 16px 16px;
  border-radius: 10px;
  padding: 12px;
  font-family: "Roboto";
}

.event-long-description-container h2 {
  font-size: 16px;
}

.event-long-description-container p {
  font-size: 16px;
}

.btn-event-calendar {
width: 60%;
margin: 20px auto;
margin-bottom: 28px;
text-align: center;
display: block;
}


.float-fix {
  float: unset !important;
}

.absolute-fix {
  position: static;
}

.width-fix {
  width: 100%;
}

.height-fix {
  height: 80px;
}

.margin-bottom-fix {
  margin-bottom: 20px;
}
// Hi Julia!
// I'm so glad we have moved to Berlin, and I really look fwd to meeting new people here.
// My children would love to make friends with other kids in our neighborhood.
// How did you meet other families when you first moved to Berlin?

.extra-info {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
