.eventpic {
  border-radius: 6px;
  height: 400px;
  width: 350px; //needs to be flexible to phone screen
  padding: 0;
  margin: 16px;
  margin-bottom: 0;
}

.event-long-description-container {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 16px;
  border-radius: 6px;
  padding: 12px;
}

.btn-event {
width: 60%;
margin: 16px auto;
text-align: center;
display: block;
}
