.form-centered {
  padding: 16px;
  border: 1px, solid, $light-gray;
  background-color: #f7d3b4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-left: 8px;
  margin-right: 8px;

  .form-control, select, textarea {
    border-radius: 20px;
    background-color: white;
  }

  label  {
    font-family: Roboto !important;
    font-weight: lighter !important;
  }
}
.new-event-form {
  margin: 16px;
}
.form-header {
  font-weight: lighter;
  width: 100%;
  text-align:center;
  margin-top: 16px;
  text-align: center;
  margin-top: 16px;
  font-family: Playfair Display;
  font-size: 20px !important;
}

.button-container {
  margin-top: 24px;
  text-align: center;
}
