// Specific CSS for your home-page
.container-homepage{
  justify-content: center;
}

.top-bar {
  position: relative;
  background-color: white;
}

.homepage-background {
  height: 80vh;
  width: 100%;
  justify-content: center;
  background-size: cover;
  background-position: top;
  padding: 100px 0;
  background-color: white;
}

.homepage-logo{
  width: 120px;
  height:120px;
  display: block;
  position: absolute;
  z-index: 5;
  margin: 10px auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: $dark-pink;
}

.searchbar {
  border-radius: 50px;
  height: 42px;
  border-style: solid;
  border-width: 1px;
  border-color: $light-gray;
  padding: 8px 16px;
  font-weight: lighter;
  opacity: 0.7;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.btn-homepage {
  position: absolute;
  right: -80px;
  top: 0px;
  background-color: $dark-pink;

}
.btn-homepage:disabled {
  opacity: 1;
  color: white;
  font-weight: lighter;
  background-color: $pink;
}
.homepage-keywords-container {
  width: 220px;
  height: 22px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 8px;
}

.container-searchbar {
  margin: 0;
}

.search {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  height: 40px;
}
