.main-container {
  background-color: rgb(240, 240, 240);
}
.username {
  justify-content: center;
}
.profilepic-container {
  background-color: white;
  margin: 16px 16px;
  border-radius: 4%;
  padding: 4px;
}

.description-container {
  background-color: white;
  margin: 16px 16px;
  border-radius: 3%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-header {
  font-size: 18px;
  font-weight: 500;
}

.keywords-container {
  width: 80vw;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8px;
}

.username {
  text-align: center;
}
.btn-profile {
  width: 50%;
  margin: 0 auto;
}
