.profile-index-main-container, .profile-show-main-container {
  background-color: $white;
}

.username {
  justify-content: center;
  text-align: center;
}

.profilepic-container {
  background-color: white;
  margin: 16px 16px;
  border-radius: 10px;
  padding: 4px;
}

.description-container {
  background-color: white;
  margin: 16px 16px;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2, p {
    font-size: 16px;
  }
}

.profile-header {
  font-size: 18px;
  font-weight: 500;
}

.keywords-container {
  width: 80vw;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-profile {
  width: 50%;
  margin: 16px auto;
  text-align: center;
  display: block;
}
