.container-start {
  margin-top: 0;
  padding-top: 0;
  background-color: #F55E61;
  height: 100vh;
  width: 100wh;
}

.margin-logo-start {
  padding-top: 40%;
  background-color: #F55E61;
}

.start-logo {
  background-color: #F55E61;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 240px;
  width: 240px;
}
