<div class="container chat">
<% @chats.each do |chat| %>
<div>
<% if chat.receiver == current_user %>
<%= link_to chat.sender.username,  chat_path(chat)%>
<% else %>
<%= link_to chat.receiver.username,  chat_path(chat)%>
<% end %>
</div>
<% end %>
</div>
