  <!-- replace with logo -->

<div class="container-homepage">
    <div class="logo start-logo">
      <%= image_tag "placeholdert.jpg" %>
    </div>
  </div>
</div>

<!--insert searchbar -->
<%= link_to "Connect", "#", class: "btn btn-pink" %>
<%= link_to "Events", "#", class: "btn btn-orange" %>
<button class="tag">autism</button>
