<div class="container-start">
  <div class="margin-logo-start">
    <%= image_tag "logo.png", class: "start-logo" %>
  </div>
</div>

  <!-- JS animations -->
<script>
  setTimeout(function(){
    window.location.href = '/home';
  }, 1000);
</script>
