  <!-- replace with logo -->
<div class="container-start">
    <div class="logo start-logo">
      <%= image_tag "placeholdert.jpg" %>
    </div>
</div>


  <!-- JS animations -->
<div>
  <script>
    setTimeout(function(){
      window.location.href = '/home';
    }, 4000);
	</script>
</div>
