.btn {
  background-color: $pink;
  font-family: Roboto;
  color: white;
  border: 1px solid white !important;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn :hover {
  font-weight: 500px;
  color: white !important;
}

.btn-pink {
  background-color: $dark-pink;

}
.btn-orange {
  background-color: $orange;
  padding: 2px 10px;
  font-size: 16px;
}

.btn-people {
  // opacity: 0.6;
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 1;
}

.btn-people:disabled {
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 1;
}

.btn-events {
  // opacity: 0.6;
  position: absolute;
  left: 12px;
  top: 46px;
  z-index: 1;
}

.btn-events:disabled {
  position: absolute;
  left: 12px;
  top: 46px;
  z-index: 1;
}
