.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Roboto";
}

.map {
  position: sticky;
  top: 0;
  margin: auto;
}

.mapboxgl-marker {
  height: 36px !important;
  width: 36px !important;
}
