.navbar {
  display:flex;
  justify-content: space-around;
  background: white;
  flex-grow: 0;
  position: fixed;
  bottom: 0;
  position: sticky;
  height: 65px;
  width: 100%;
}
.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;

}
