.navbar {
  display:flex;
  justify-content: space-around;
  background: white;
  flex-grow: 0;
  position: fixed;
  bottom: 0;
  position: sticky;
  height: 65px;
  width: 100%;
  padding: 4px 0;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
  background-color: white;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-menu {
  border: none;
  position: absolute;
  left: -64px !important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropup */
.dropdown-menu li {
  color: $black;
  font-family: Roboto;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
  background-color: white;
  border-bottom: $light-gray solid 1px;
  font-weight: lighter;
  text-align: center;
}

/* Change color of dropup links on hover */
.dropdown-menu li:hover {
  background-color: rgb(189, 189, 189);
}
