.profile-mini-card {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 6px;
  position: relative;
  width: 90%;
}

.profile-mini-card p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 4px;
  text-decoration: none !important;
  font-family: Roboto;
  font-weight: lighter;
}

.profile-mini-card h2 {
  text-decoration: none !important;
  font-family: Roboto;
  font-size: 20px;
  top: 12px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color:$black;
}
a:hover {
  color: inherit !important;
}

.profile-mini-card-infos {
  width: 65%;
  padding-top: 20px;
  padding: 16px;
  height: 100px;
}

.distance {
  width: fit-content;
  font-weight: lighter;
  opacity: 0.8;
  font-size: 12px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  margin-right: 12px;
}
