#myInput {
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 2px solid $pink; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  border-radius: 50px;
  height: 42px;
  font-weight: lighter;
  opacity: 0.7;
}

#proposedTags {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */

}

.word {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
  background-color: white;
  border-radius: 6px;
  border: 2px solid $orange;
  font-size: 10px;
  color: $orange;
  font-weight: 2px;
  box-shadow: none;
  padding: 2px 8px;
  margin: 8px;
}

.tagitem {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
  background-color: white;
  border-radius: 6px;
  border: 2px solid $orange;
  font-size: 10px;
  color: $orange;
  font-weight: 2px;
  box-shadow: none;
  padding: 2px 8px;
  margin: 8px;
}

.tagitem :hover {
  background-color: #f1f1f1;
}

.btn-searchbar {
  position: absolute;
  right: -80px;
}
