.tag {
  background-color: white;
  border-radius: 6px;
  border: 1px solid $orange;
  font-size: 12px;
  color: $orange;
  font-weight: lighter;
  box-shadow: none;
  padding: auto, 6px;
}

.keywords-container {
  width: 80vw;
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
